@media (width: 320px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 568px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 25px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 12px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 55%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 60%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%!important;
  }

  .author p
  {
    font-size: 11px;
  }

  .logo_author
  {
    display: flex;
    width: 35px!important;
  }

}

@media (width: 360px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 640px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 40px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 12.5px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 60%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 40%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%!important;
  }

  .author p
  {
    font-size: 11px;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 375px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 667px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 40px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 12.5px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 60%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 60%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 412px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 732px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 35px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 65%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 65%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 414px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 736px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 35px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 65%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 65%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 568px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 320px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 34px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 12.5%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 12px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 77%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 10%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.25%;
    margin-left: 3%!important;
  }

  .author p
  {
    font-size: 11px;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 640px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 360px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 30px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 12.5%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 10px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 75%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 12.5%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-left: 5%!important;
  }

  .author p
  {
    font-size: 11px;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 667px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 375px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 30px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 12.5%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 10px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 75%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 12.5%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
    margin-left: 5%!important;
  }

  .author p
  {
    font-size: 11px;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 732px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 412px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 35px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 80%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 10%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 736px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 414px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 35px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 80%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 10%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 40px!important;
  }

}

@media (width: 768px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 1024px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 55px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 35%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 70%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 55%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 35px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%!important;
  }

  .author p
  {
    font-size: 17px;
  }

  .logo_author
  {
    display: flex;
    width: 47px!important;
  }

}

@media (width: 1024px) and (orientation: portrait)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 1366px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 50%;
    margin-right: 10%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 10%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 10%!important;
    margin-left: 75%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 48%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 1024px) and (orientation: landscape)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 768px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 20%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 80%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 25%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 35px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-left: 5%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 1600px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 900px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 84%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 15%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%;
    margin-left: 3%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}

@media (width: 1366px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 1024px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 15%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 82%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 35%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list-inline
  {
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-left: 7%!important;
  }

  .author p
  {
    font-size: 17px;
  }

  .logo_author
  {
    display: flex;
    width: 55px!important;
  }

}

@media (width: 1368px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 768px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 5%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 82%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 14%!important;
    margin-right: 4%;
  }

  .list-inline
  {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
    margin-right: 15%!important;
  }

  .logo_author
  {
    display: flex;
    justify-content: center;
    width: 50px!important;
  }

}

@media (width: 1600px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 900px;
    margin: 0;
    overflow: hidden;
  }

  ul
  {
    list-style: none;
  }

  a
  {
    text-decoration: none;
    color: #ffffff;
  }

  .container
  {
    display: flex;
    flex-direction: column;
  }

  .header-menu
  {
    float: top;
    position: fixed;
    width: 100%;
    height: 19%;
  }

  .header-left
  {
    float: left;
    width: 9%;
    margin-left: 2%;
  }

  .header-right,
  {
    float: right;
    width: 70%;
  }

  .header-right a
  {
    color: #000000;
  }

  .menu
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 40px;
    padding-top: 1%;
    margin-right: 10%;
  }

  .content
  {
    width: 100%;
    height: 640px;
    margin-top: 9%;
    font-family: 'bodoni';
    src: url('../fonts/bodoni_mt/bodoni.ttf');
  }

  .content-top
  {
    background-image: url('../img/content-top.jpg');
    background-position: center;
    background-size: 100%;
    height: 50%;
    width: 100%;
  }

  .top-content
  {
    color: #ffffff;
    padding-top: 5%;
    margin-left: 7%;
  }

  .top-content h2
  {
    font-size: 70px;
  }

  .top-content p
  {
    font-size: 35px;
    margin-top: -3%;
  }

  .content-bottom
  {
    background-image: url('../img/content-bottom.jpg');
    background-position: center;
    background-size: 100%;
    height: 50%;
    width: 100%;
  }

  .bottom-content
  {
    color: #ffffff;
    padding-top: 5%;
    margin-left: 7%;
  }

  .bottom-content h2
  {
    font-size: 70px;
  }

  .bottom-content p
  {
    font-size: 35px;
    margin-top: -3%;
  }
}

@media (width: 1920px)
{
  ::-webkit-scrollbar
  {
    display: none;
  }

  body, html
  {
    height: 1080px;
    margin: 0;
    overflow: hidden;
  }

  .cb-slideshow
  {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .container
  {
    position: relative;
    text-align: right;
    max-width: 100%;
    max-height: 100%;
  }

  .title
  {
    font-size: 60px;
    line-height: 1em;
    text-transform: none;
    letter-spacing: -.01em;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 10%;
    margin-right: 5%!important;
  }

  .content
  {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: .04em;
    font-weight: 400;
    font-style: normal;
    margin-right: 5%!important;
  }

  .button
  {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-right: 5%!important;
    margin-left: 84%!important;
  }

  .button:hover
  {
    background: #ffffff;
    color: #000000;
  }

  a
  {
    color: #ffffff;
  }

  .social_icons
  {
    margin-top: 15%!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
  }

  .list-inline
  {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .author
  {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-right: 22%!important;
  }

  .logo_author
  {
    display: flex;
    width: 50px!important;
  }

}
